Credentials {
   com.idoox.security.jaas.GSSLoginModule required debug=true;
};

ReceivedCredentials {
   com.idoox.security.jaas.GSSLoginModuleNoAuth required debug=true;
};

HttpCredentials {
   com.idoox.security.jaas.HttpLoginModule required debug=true;
};


KrbCredentials {
   com.sun.security.auth.module.Krb5LoginModule required debug=false storeKey=true;
};
   
CachedKrbCredentials {
 com.sun.security.auth.module.Krb5LoginModule required debug=false useTicketCache=true;
};


NamePasswordNoAN{
 com.idoox.security.jaas.NamePasswordLoginModuleNoAuth required debug=true;
};

NamePasswordAN{
 com.idoox.security.jaas.NamePasswordLoginModule required debug=true;
};
	 
NameDigestAN{
 com.idoox.security.jaas.NameDigestLoginModule required debug=true;
};

NameMapping{
 com.idoox.security.jaas.NameLoginModuleNoAuth required debug=true;
};

CertsMapping{
 com.idoox.security.jaas.CertsLoginModule required debug=true;
};

HttpRequest{
 com.idoox.security.jaas.SmLoginModule required debug=true;
};

